*{
  margin: 0%;
  padding: 0%;
  list-style: none;
  font: "outfit" sans-serif;
}

body{
  height: 50px;
  background-image: url(/storage/emulated/0/Pictures/WhatsApp/IMG-20250331-WA0085.jpg);
  background-size: cover;
  background-repeat: no;
  background-position: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: deepskyblue;
  height: 60px;
  box-shadow: 0px 0px 0px biege;
  font-weight: bold;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav ul li{
  display: flex;
  margin: 20px;
  padding: 5px;
  width: auto;
  font-size: large;
  font-weight: bold;
  color: white;
}

nav ul li a{
  text-decoration: none;
}

h1{
  margin: 25px;
  padding: 0px;
  font-style: normal;
  font-weight: bold;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 50px;
  padding: 50px;
  border: 3px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  box-shadow: 10px 10px 10px 10px grey;
}


form li{
  margin: 10px;
  padding: 10px;
}

h2{
  margin: 0;
  padding: 10px;
}

 p img{
  border: 3px solid gray;
  border-radius: 20px;
  align-items: left;
  margin: 5px;
}

button{
  width: 50px;
  margin: 0px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid;
}

h2 button{
  background-color: deepskyblue;
  border: 0px;
  border-radius: 25px;
  width: 30%;
}

.papersheet{
  margin: 7%;
  padding: 25px;
  height: auto;
  width: 80%;
  background-color: white;
  align-items: center;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: deepskyblue;
  height: 70px;
  box-shadow: 0px 0px 0px biege;
  position: bottom;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}